.header
    padding 3rem 3rem 2rem
    img
        margin-bottom .5rem

#dropform
    padding 0 3rem
    display flex
    flex-grow 1
    section.holder
        width 100%
        display flex
        flex-grow 1
        flex-direction column
        justify-content space-between
    .action-section
        width 100%
        &.droparea
            flex-grow 1
            display flex
            .droparea-body
                align-self center
        h2
            color primary-color
            font-weight 500
        p
            color text-light
            font-size 1.4em
        small
            color lighten(secondary-color, 30%)
        h6, p, small
            line-height 1.6em
        & + .action-section
            margin-top 1rem

footer
    padding 1.4rem 3rem 1.6rem
    width 100%
    text-align center

    small
        margin-top .3rem
        display block
        color text-light
        line-height 1.4em
