.sharetype
    border 2px solid primary-color
    padding 1rem
    width 100%
    border-radius border-radius-normal
    h6
        color primary-color
        font-weight 500
    p
        color secondary-color
    h6, p
        line-height 1.4em
